@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}
body {
    background-color: rgba(187, 214, 181, 0.623) !important;
    background-image: url(/src/LoginPage/assets/img.jpg);
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.loginContainer {

    width: 800px;
    height: 400px;
    background-color: rgba(46, 10, 10, 0.568);
    padding: 30px 30px;
    border-radius: 10px;
    margin: 50px auto;
}
h1 {
    text-align: center;
    color: white;
    font-weight: 400;
}

.submit,
.reset {
    width: 80px;
    height: 50px;
    margin: 20px auto;
    background-color: rgba(88, 69, 75, 0.466);
    color: rgb(241, 238, 232);
    border-radius: 10px;
}
label {

    font-size: 20px;
}
.box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 5px;

}
.box label {
    padding-left: 9rem;
}

.box .innerBox {
    padding-right: 20px;
}

input {
    padding: 15px;
    border-radius: 4px;
    width: 220px;

}

i {
    color: rgb(22, 21, 20);
    transform: translate(-34px, 8px);
    font-size: 20px;
}

.innerBox {
    width: 350px;
}

label {
    color: white;
}
a {
    text-decoration: none;
    color: antiquewhite;
}
#loginSign {
    margin-left: 250px;
}

#loginRegister {
    margin-right: 280px;
}
 #eye_security {
    transform: translate(-35px, 7px);
} 

#refresh {
    width: 120px;
    height: 49px;
    border-radius: 6px;
    background-color: white;
    margin: -14px;
}

#registerLogin {
    margin-left: 300px;
}

#registerSign {
    margin-right: 300px;
}


.down {
    padding-top: 42px;
}
#securitypin {
    width: 90px;
    height: 15px;
    background-color: aliceblue;
}
.registerInnerContainer {
    width: 900px;
    height: 500px;
    background-color: rgba(46, 10, 10, 0.568);
    padding: 30px 30px;
    border-radius: 10px;
    margin: 30px auto;
}